/* styles.css */


/* Стиль для номеров строк */
#lineNumbersListView {
    -fx-font-size: 14px;
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

.root {
    -fx-font-size: 14px;
}

/* Классы для разных размеров */
.font-small {
    -fx-font-size: 10px;
}

.font-medium {
    -fx-font-size: 14px;
}

.font-large {
    -fx-font-size: 18px;
}

/* Чтобы все элементы наследовали размер */
* {
    -fx-font-size: inherit;
}