/* styles.css */
.root {
    -fx-font-size: 19px;
}

/*.label, .button, .menu-item, .text-area, .menu, .text-field, .menu-bar{
    -fx-font-size: inherit;
}*/

.list-view-no-scroll .scroll-bar:vertical,
.list-view-no-scroll .scroll-bar:horizontal {
    -fx-pref-width: 0;
    -fx-opacity: 0;
    -fx-padding: 0;
}

.text-area .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.text-area .scroll-pane .viewport {
    -fx-pannable: false;
}

#listTextArea {
    -fx-text-fill: gray;
    -fx-control-inner-background: #f8f8f8;
}